aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anthropic
anyio
attrs
beautifulsoup4
blinker
certifi
charset-normalizer
click
dataclasses-json
distro
duckduckgo_search
fastapi
Flask
frozenlist
grpcio
h11
h2
hpack
httpcore
httpx
httpx-sse
hyperframe
idna
itsdangerous
Jinja2
jiter
joblib
jsonpatch
jsonpointer
langchain
langchain-anthropic
langchain-community
langchain-core
langchain-text-splitters
langsmith
lxml
MarkupSafe
marshmallow
multidict
mypy_extensions
nltk
numpy
openai
orjson
packaging
portalocker
primp
propcache
protobuf
pydantic
pydantic-settings
pydantic_core
python-dotenv
PyYAML
qdrant-client
regex
requests
requests-toolbelt
sniffio
soupsieve
SQLAlchemy
starlette
tenacity
tqdm
typing-inspect
typing-inspection
typing_extensions
urllib3
uvicorn[standard]
Werkzeug
wikipedia
yarl
zstandard
supabase